.DS_Store
AggCloudKafka/.DS_Store
AggCloudKafka/src/.DS_Store
AggCloudKafka/src/main/.DS_Store
AggCloudKafka/src/main/java/.DS_Store
AggCloudKafka/src/main/java/aggregateur/.DS_Store
AggCloudKafka/src/main/java/utils/.DS_Store

